<!--//* Datagrid -->
<div v-if="designKey==='root'">
  <Design
    designKey="site"
    :collapse="{hidden: false, header: 'Establecimiento'}"
    :options="{canAdd: false, canDelete: false, canMove: false, canEnter: true}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
</div>
<div v-if="designKey==='site'">
  <Design
    designKey="coordinates"
    :collapse="{hidden: false, header: 'Coordenadas'}"
    :options="{canAdd: false, canDelete: false, canMove: false, canEnter: false}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
  <Design
    designKey="building"
    :collapse="{hidden: false, header: 'Edificios'}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
</div>
<div v-if="designKey==='building'">
  <Design
    designKey="floor"
    :collapse="{hidden: false, header: 'Plantas'}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
  <Design
    designKey="buildingExit"
    :collapse="{hidden: false, header: 'Salidas de edificio'}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
  <Design
    designKey="stairs"
    :collapse="{hidden: false, header: 'Escaleras'}"
    :options="{canAdd: true, canDelete: true, canMove: true, canEnter: false}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
  <Design
    designKey="elevator"
    :collapse="{hidden: false, header: 'Ascensores'}"
    :options="{canAdd: true, canDelete: true, canMove: true, canEnter: false}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
</div>
<div v-if="designKey==='buildingExit'">
  <Design
    designKey="buildingDoor"
    :collapse="{hidden: false, header: 'Puertas de salidas de edificio'}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
</div>
<div v-if="designKey==='floor'">
  <Design
    designKey="zone"
    :collapse="{hidden: false, header: 'Zonas'}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
  <Design
    designKey="floorExit"
    :collapse="{hidden: false, header: 'Salidas de planta'}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
</div>
<div v-if="designKey==='floorExit'">
  <Design
    designKey="floorDoor"
    :collapse="{hidden: false, header: 'Puertas de salidas de planta'}"
    :options="{canAdd: true, canDelete: true, canMove: true, canEnter: false}"
    :key="designPulse" @pulse="designPulse++"
  ></Design>
</div>