<!--//* Keyboard -->
<div id="keyboard">
  <!-- <div class="btn" style="overflow: hidden; overflow-x: scroll; padding-top: 7px;">{{value}}</div> -->
  <Wall :config="edit" :key="editPulse" @pulse="editPulse++">
    <template v-slot:edit>
      <!-- <input
        id="edit"
        class="btn"
        style="
          grid-area: 1 / 2 / span 1 / span 7;
          height: 100%;
          width: 100%;
          text-align: center;
          padding-top: 11px;
          border-radius: 8px;
        "
        readonly="true"
        @click="editOnClick"
        type="text"
        v-model="value"
      /> -->

      <div
        id="edit"
        class="btn"
        style="
          grid-area: 1 / 2 / span 1 / span 7;
          height: 100%;
          width: 100%;
          text-align: center;
          padding-top: 11px;
          border-radius: 8px;
          overflow-x: scroll;
        "
      >
        <span v-for="(char, i) in current.editChars" :key="pulse" 
        :class="{ 'edit-char': true, 'cursor-char': i===current.edit.cursor }"
        @click="editCharClick(i)">{{char}}</span>
        <span v-if="current.edit.value && current.edit.value.length > 0" :class="{ 'edit-char': true, 'cursor-char': current.edit.cursor===current.editChars.length }"
        @click="editCharClick(current.editChars.length)">&nbsp;</span>
      </div>
    </template>
  </Wall>
  <template v-if="panel === 'letters'" v-for="(row, i) in letters" :key="lettersPulse">
    <Wall :config="row" @pulse="lettersPulse++" />
  </template>
  <template v-if="panel === 'numbers'" v-for="(row, i) in numbers" :key="pulse">
    <Wall :config="row" />
  </template>
  <template v-if="panel === 'symbols'" v-for="(row, i) in symbols" :key="pulse">
    <Wall :config="row" />
  </template>
</div>
