<!--//* Keyboard -->
<div id="keyboard">
  <template
    v-if="panel === 'letters'"
    v-for="(row, i) in letters"
    :key="lettersPulse"
  >
    <Wall :config="row" @updated="lettersPulse++" />
  </template>
  <template
    v-if="panel === 'numbers'"
    v-for="(row, i) in numbers"
    :key="numbersPulse"
  >
    <Wall :config="row" @updated="numbersPulse++" />
  </template>
  <template
    v-if="panel === 'symbols'"
    v-for="(row, i) in symbols"
    :key="symbolsPulse"
  >
    <Wall :config="row" @updated="symbolsPulse++" />
  </template>
</div>
