body {
  background-color: var(--bg-color);
}

#app {
  --width: 100%;
}
@media (min-width: 700px) {
  #app {
    --width: 700px;
  }
}
#app {
  width: var(--width);
  margin-left: calc((100% - var(--width)) / 2);
  margin-right: calc((100% - var(--width)) / 2);
}
@media (min-width: 700px) {
  #app {
    width: var(--width);
  }
}
#app:fullscreen {
  background-color: var(--bg-color);
}

.app {
  height: 100%;
  width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  /* header body footer */
  grid-template-rows: auto auto 1fr auto;
}
@media (min-width: 700px) {
  .app {
    width: 700px;
    border-left: 0.1rem solid var(--border-color);
    border-right: 0.1rem solid var(--border-color);
  }
}

header {
  border-bottom: 0.1rem solid var(--border-color);
}

nav {
  border-bottom: 0.1rem solid var(--border-color);
}

article {
  /* muestra la barra de scroll sólo si hace falta (crea movimientos en el width) */
  overflow-y: auto;
  /* muestra siempre la barra de scroll */
  /* overflow-y: scroll; */
}

footer {
  border-top: 0.1rem solid var(--border-color);
}

section {
  width: 100%;
}
