.m-keyboard {
  left: 0px;
  bottom: 0px;
  padding: 3px;
  padding-bottom: 3px;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 3px;
  width: auto;
}

.m-keyboard__panel {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 3px;
}

.m-keyboard__key {
  height: inherit;
  padding-top: 0;
  font-size: 1.2rem;
}
