.field {
  /* @include noselect(); */
  display: inline-block;
  min-height: 2.2rem;
  height: 100%;
  /* width: 100% !important; */
  padding-top: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 9px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--bg-color);
  border-bottom: 0.1rem solid var(--border-color);
  &.field-first {
    border-top: 0.1rem solid var(--border-color);
  }
  &.field-label {
    border-right: 0.1rem solid var(--border-color);
  }
  color: var(--fore-color);
  background-image: none;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: inherit;
  /* scroll para poder ver el contenido entero */
  overflow-x: auto;
  &.field-value {
    /* font-size: 0.9rem; */
  }
  /* elimina el azul del toque en móviles */
  -webkit-tap-highlight-color: transparent;
  &.field-selected {
    background-color: var(--active-color) !important;
  }
}
