.s-active {
  background-color: var(--active-color) !important;
}

.s-flex-right {
  justify-content: flex-end;
}

.s-inactive {
  opacity: 0.5;
}

.s-no-margin {
  margin: 0px;
}

.s-no-padding {
  padding: 0px;
}
