<!--//* Wall -->
<div :class="composeClass(config.classes)" :style="composeStyle(config.style)">
  <template v-for="(brick, i) in config.bricks.items" :key="brick.code">
    <template v-if="brick.slot">
      <slot :name="brick.slot"></slot>
    </template>
    <template v-else>
      <!-- <Brick :config="brick" /> -->
      <component :is="brick.component"
      :config="brick"
      style="width: 100%; height: 100%;"
      :class="composeClass(brick.classes)" :style="composeStyle(brick.style)"/>
    </template>
  </template>
</div>
