<!--//* Brick -->
<template v-if="config.slot">
  <slot :name="config.slot"></slot>
</template>
<template v-else>
  <!-- //! necesito un div "relative" para que funcione el "absolute" del tooltip -->
  <div style="position: relative">
    <!-- //! aquí puedo poner un div "absolute" para hacer un tooltip popup -->
    <template v-if="dynamicComponent">
      <!-- <component :is="dynamicComponent" style="width: 100%; height: 100%;" :config="config" :class="classes" :style="style" @click="clicked($event)" /> -->
      <component :is="dynamicComponent" style="width: 100%; height: 100%;" :config="config" :class="classes" :style="style" />
    </template>
    <!-- //! he metido aquí un "width: 100%" -->
    <button
      v-if="!dynamicComponent"
      :id="config.code"
      :class="classes"
      :style="style"
      style="width: 100%"
      @click="clicked($event)"
      @mousedown="mouseDown($event)"
      @mouseup="mouseUp($event)">
      <div>
        <i v-if="config.icon" :class="config.icon"></i> {{config.caption}}
      </div>
    </button>
    <!-- //! para inyectar html directamente -->
    <!-- <div v-if="config.html" v-html="config.html"></div> -->
  </div>
</template>
