* {
  font-family: "Courier New", Courier, monospace;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: "Balsamiq Sans"; */
}

/* --> ajusta bien al 100% de la pantalla */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  /* box-sizing: border-box; */
}

.app-container {
  position: fixed;
  height: 98%;
  margin-top: 1%;
  width: 100%;
}
/* --< ajusta bien al 100% de la pantalla */

body {
  background-color: white;
}

body.dark {
  background-color: black;
}

/* --> grid */
.app-container {
  display: grid;
  grid-template-rows: 0fr 1fr 0.3fr repeat(6, 1fr) 1fr 0.3fr repeat(3, 1fr);
}
/* --< grid */

.dark * {
  color: antiquewhite;
}

.dark .app-container {
  background-color: black;
}

.title {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.dark .title {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

/* .board {
  margin-left: v-bind(margin);
  margin-right: v-bind(margin);
} */
