:root {
  /* light */
  --light-key-fore: #1a1a1b;
  --ligth-key-bg: #d3d6da;
  --light-key-shadow: rgb(133, 133, 133);
  --light-letter-fore: white;
  --light-missing-bg: #787c7e;
  --light-missing-shadow: #4c4e50;
  --light-present-bg: #c9b458;
  /* tiene que ser rgba con alpha=0 */
  --light-before-bg-tricolor: rgba(201, 105, 88, 0);
  --light-before-bg: rgba(201, 105, 88, 1);
  --light-after-bg: #c9b458;
  --light-correct-bg: #6aaa64;
  --light-prompt-fore: #1a1a1b;
  --light-prompt-bg: #d7dadc;
  --light-prompt-shadow: #acacac;
  --light-wrong-bg: firebrick;
  --light-wrong-shadow: rgb(105, 15, 33);
  --light-remaining-bg: #d7dadc;
  --light-remaining-shadow: #acacac;
  --light-normal-shadow: rgb(133, 133, 133);
  --light-current-shadow: #44aabb;
  --light-direction-shadow: rgba(201, 105, 88, 1);
  /* dark */
  --dark-key-fore: #d7dadc;
  --dark-key-bg: #818386;
  --dark-key-shadow: #69696e;
  --dark-letter-fore: #d7dadc;
  --dark-missing-bg: #3a3a3c;
  --dark-missing-shadow: #69696e;
  --dark-present-bg: #b59f3b;
  --dark-before-bg: #ac5a4c;
  /* tiene que ser rgba con alpha=0 */
  --dark-before-bg-tricolor: rgba(172, 90, 76, 0);
  --dark-after-bg: #b59f3b;
  --dark-correct-bg: #538d4e;
  --dark-prompt-fore: #d7dadc;
  --dark-prompt-bg: #1a1a1b;
  --dark-prompt-shadow: #343435;
  --dark-wrong-bg: rgb(136, 26, 26);
  --dark-wrong-shadow: rgb(163, 64, 84);
  --dark-remaining-bg: #1a1a1b;
  --dark-remaining-shadow: #343435;
  --dark-normal-shadow: #69696e;
  --dark-current-shadow: #317a86;
  --dark-direction-shadow: #ac5a4c;
}

button {
  height: 90%;
  background-color: var(--ligth-key-bg);
  color: var(--light-key-fore);
  box-shadow: 0px 4px var(--light-key-shadow);
  border: none;
  border-radius: 20%;
}
@media (min-width: 1025px) {
  button {
    box-shadow: 0px 8px var(--light-key-shadow);
  }
}

.dark button {
  color: var(--dark-key-fore);
  background-color: var(--dark-key-bg);
  box-shadow: 0px 4px var(--dark-key-shadow);
}
@media (min-width: 1025px) {
  .dark button {
    box-shadow: 0px 8px var(--dark-key-shadow);
  }
}

button div {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
}

button:active {
  opacity: 0.8;
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
}

button.small-text div {
  font-size: 12pt;
}

.icon div {
  font-size: 15pt;
}

.missing {
  color: var(--light-letter-fore);
  background-color: var(--light-missing-bg);
  box-shadow: 0px 4px var(--light-missing-shadow);
}
@media (min-width: 1025px) {
  .missing {
    box-shadow: 0px 8px var(--light-key-shadow);
  }
}

.dark .missing {
  color: var(--dark-letter-fore);
  background-color: var(--dark-missing-bg);
  box-shadow: 0px 4px var(--dark-missing-shadow);
}
@media (min-width: 1025px) {
  .dark .missing {
    box-shadow: 0px 8px var(--dark-key-shadow);
  }
}

.present,
.before,
.after {
  color: var(--light-letter-fore);
  background-color: var(--light-present-bg);
}

.dark .present,
.dark .before,
.dark .after {
  color: var(--dark-letter-fore);
  background-color: var(--dark-present-bg);
}

.correct {
  color: var(--light-letter-fore);
  background-color: var(--light-correct-bg) !important;
}

.dark .correct {
  color: var(--dark-letter-fore);
  background-color: var(--dark-correct-bg) !important;
}

/* --> direcciones */
.direction.before {
  /* border-left: 8px inset var(--light-direction-shadow); */
  transform: rotate3d(0, 0, -1, 5deg);
}
.direction.after {
  /* border-right: 8px inset var(--light-direction-shadow); */
  transform: rotate3d(0, 0, 1, 5deg);
}

.direction.before.after {
  /* border-right: 8px inset var(--light-direction-shadow); */
  transform: rotate3d(0, 0, 0, 0deg) translateY(4px);
  box-shadow: 0px -4px var(--light-key-shadow);
}

.direction.missing {
  /* transform: scaleY(0.9) translate(0, -4px); */
  /* box-shadow: 0px -4px var(--light-key-shadow); */
}

/* .direction.correct {
  transform: scaleY(0.9) translate(0, 4px);
  box-shadow: 0px -4px var(--light-key-shadow);
} */

.dark .direction.before {
  /* border-left: 8px inset var(--light-direction-shadow); */
}
.dark .direction.after {
  /* border-right: 8px inset var(--dark-direction-shadow); */
}
/* --< direcciones */

.reminder div {
  color: lightgrey;
  /* background-color: white; */
}

.hidden div {
  visibility: hidden;
}

.remaining {
  background-color: var(--light-remaining-bg);
  box-shadow: 0px 4px var(--light-remaining-shadow);
}

.dark .remaining {
  background-color: var(--dark-remaining-bg);
  box-shadow: 0px 4px var(--dark-remaining-shadow);
}

.cursor div {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

.prompt {
  color: var(--light-prompt-fore);
  background-color: var(--light-prompt-bg);
  box-shadow: 0px 4px var(--light-prompt-shadow);
}

.dark .prompt {
  color: var(--dark-prompt-fore);
  background-color: var(--dark-prompt-bg);
  box-shadow: 0px 4px var(--dark-prompt-shadow);
}

.current {
  box-shadow: 0px 4px var(--light-current-shadow);
}

.dark .current {
  box-shadow: 0px 4px var(--dark-current-shadow);
}

.wrong {
  color: var(--light-letter-fore);
  background-color: var(--light-wrong-bg);
  /* box-shadow: 0px 4px var(--light-wrong-shadow); */
}

.dark .wrong {
  color: var(--dark-letter-fore);
  background-color: var(--dark-wrong-bg);
  /* box-shadow: 0px 4px var(--dark-wrong-shadow); */
}

/* --> enigma */
.enigma {
  /* border-radius: 100%; */
}

.enigma div {
  visibility: hidden;
}

.enigma.found div,
.enigma.failed div,
.enigma.solved div {
  visibility: visible;
}

.dark .enigma {
  color: var(--dark-letter-fore);
  background-color: var(--dark-remaining-bg);
  box-shadow: 0px 4px var(--dark-remaining-shadow);
}

.enigma.failed {
  color: var(--light-letter-fore);
  background-color: var(--light-wrong-bg);
  box-shadow: 0px 4px var(--light-wrong-shadow);
}

.enigma.solved {
  color: var(--light-letter-fore);
  background-color: var(--light-correct-bg);
  box-shadow: 0px 4px var(--light-key-shadow);
}

.dark .enigma.failed {
  background-color: var(--dark-wrong-bg);
  box-shadow: 0px 4px var(--dark-wrong-shadow);
}

.dark .enigma.solved {
  background-color: var(--dark-correct-bg);
  box-shadow: 0px 4px var(--dark-key-shadow);
}
/* --< enigma */

.empty {
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
}

.selected {
  background-color: #44aabb !important;
}
