<!--//* Edit -->
<div id="edit" class="field field-value">
  <span
    v-for="(char, i) in chars"
    :key="i"
    :id="`edit-char${i + 1}`"
    :class="{ 'edit-char': true, 'cursor-char': i===cursor, 'first-char': i===0, 'last-char': i===chars.length-1 }"
    @click="cursor=i">
    {{char===' ' ? '&nbsp;' : char }}</span
  >
  <span
    id="cursor-end"
    :class="{ 'cursor-end': true, 'cursor-char': cursor===chars.length }"
    unselectable="on"
    onselectstart="return false;"
    onmousedown="return false;"></span>
</div>
