<!--//* Edit -->
<div id="edit-box-container">
  <div id="edit-box" class="field field-value">
    <!-- span de los caracteres -->
    <span
      v-for="(char, i) in chars"
      :key="i"
      :id="`edit-char${i + 1}`"
      :class="{ 'edit-char': true, 'cursor': i===cursor, 'position': i===position && isMovingMouse }">
      {{char===' ' ? '&nbsp;' : char }}</span
    >
    <!-- span especial para cursor en última posición -->
    <span
      id="cursor-end"
      :class="{ 'cursor-end': true, 'cursor': cursor===chars.length, 'position': position===chars.length && isMovingMouse }"></span>
    <!-- unselectable="on"
    onselectstart="return false;"
    onmousedown="return false;"></span> -->
  </div>
</div>
