body {
  --bg-color: rgb(245, 245, 245);
  --fore-color: rgb(80, 80, 80);
  --border-color: rgb(180, 180, 180);
  --shadow-color: rgb(226, 226, 226);
  --active-color: violet;
}

body.dark-mode {
  --bg-color: rgb(50, 50, 50);
  --fore-color: rgb(200,200,200);
  --border-color: rgb(120, 120, 120);
  --shadow-color: rgb(56, 56, 56);
  --active-color: rgb(110, 60, 110);
}