<!--//* App -->
<div id="general">
  <Wall
    :config="navbar"
  />
  <Wall
    :config="breadcrumbs"
  />
  <!-- <Wall
    :key="topbar.container.key"
    :config="topbar.container"
  >
    <template v-slot:slot-1>
      <Wall
        :key="topbar.left.key"
        :config="topbar.left"
      />
    </template>
    <template v-slot:slot-2>
      <Wall
        :key="topbar.center.key"
        :config="topbar.center"
      />
    </template>
    <template v-slot:slot-3>
      <Wall
        :key="topbar.right.key"
        :config="topbar.right"
      />
    </template>
  </Wall> -->
</div>
<!-- {{navbar}} -->
