<!--//* Edit -->
<div id="edit-box-container">
  <div id="edit-box" class="field field-value">
    <span
      v-for="(char, i) in chars"
      :key="i"
      :id="`edit-char${i + 1}`"
      :class="classize({
        editChar: true, 
        cursor: i===cursor, 
        position: i===position && isMovingMouse 
      })">
      {{char===' ' ? '&nbsp;' : char }}
    </span>
    <span
      id="cursor-end"
      :class="classize({ 
        cursorEnd: true, 
        cursor: cursor===chars.length,
        position: position===chars.length && isMovingMouse
      })">
    </span>
  </div>
</div>
