.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  /* header body footer */
  grid-template-rows: auto 1fr auto;
}

/* --> elimina el efecto que tiene la navbar sobre height */
/* html,
body,
#app, */
.container {
  height: 100%;
  position: fixed;
  max-width: var(--max-width);
}

/* border laterales de la aplicación */
.container {
  @media (min-width: 600px) {
    border-left: var(--border);
    border-right: var(--border);
  }
}
/* --< elimina el efecto que tiene la navbar sobre height */
